---
# this is an empty front matter
---
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Hakierspejs - status page</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//unpkg.com/@popperjs/core@2"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Hakierspejs - Status Page</h1>
        </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12 column">
              <div class="panel panel-{{ site.data.statusy[site.data.awarie.kod].style }}">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    Kod {{ site.data.awarie.kod | plus: 1 }} / {{ site.data.awarie | size | plus: 1 }}: {{ site.data.statusy[site.data.awarie.kod].name }}
                  </h3>
                </div>                
              </div>
            

              <div class="row clearfix">
                  <div class="col-md-12 column">
                      <div class="list-group">

                        {% for awaria in site.data.awarie.awarie %}
                          {% include opis_awarii.html kolor="danger" opis="Not Operational" %}
                        {% endfor %}

                        {% for awaria in site.data.awarie.dziala %}
                          {% include opis_awarii.html kolor="success" opis="Operational" %}
                        {% endfor %}

                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-md-12">
          <p>Powered by <a href="https://github.com/hakierspejs/status.hs-ldz.pl">Github Pages</a>. <a href="https://github.com/hakierspejs/status.hs-ldz.pl/edit/main/_data/awarie.yml">Edytuj tutaj.</a> Ostatni update: {{ site.time }}. </p>
        </div>
  </div>
  
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
  
</body>
</html>
