<div class="list-group-item">
    <h4 class="list-group-item-heading">
        {% if awaria.details_url %}<a href="{{ awaria.details_url }}">{% endif %}
        {{ awaria.name }}
        {% if awaria.details_url %}</a>{% endif %}
        {% if awaria.details %}

        <a href="#"  data-toggle="tooltip" data-placement="bottom" title="{{ awaria.details }} ">
          <i class="fa fa-question-circle"></i>
        </a>
        {% endif %}


    </h4>
    <p class="list-group-item-text">
        <span class="label label-{{ include.kolor }}">{{ include.opis }}</span>
    </p>
</div>
